@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Comfortaa', Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
}

body {
    position: relative;
    font-size: inherit;
}


/* ################################ Modal ################################ */
.card_modal {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -110%;
    opacity: 0;
    transition: left 0.6s ease, opacity 0.5s ease;
    transition-delay: 0s, 0.1s;
}
.card_modal.show {
    left: 0;
    opacity: 1;
    transition-delay: 0s, 0s;
}